# macOS files ----
.DS_Store

# History files ----
*.Rhistory
.Rapp.history

# Session Data files ----
#.RData
.Ruserdata
.GITHUB_PAT.txt

# RStudio files ----
.Rproj.user/

# R Environment Variables ----
.Renviron

# User-specific files ----
README.html
inst/doc

# renv stuffs
.Rprofile
renv/

# Code test
R/3_test_map_outliers_on_contributions_rank.R
R/3_plot_for_graphical_abstract.R

# code under embargo 
recycling_embargo/